@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100vw !important;
  font-family: "Raleway", sans-serif;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(18, 18, 88);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  body {
    overflow-x: hidden !important;
    /* width: 100vw !important; */
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    overflow-x: hidden !important;
  }
}
